{% extends "emails/email_base.html" %}
{% load i18n %}

{% block content %}

<p>
  {% translate "Hello esteemed client!" %}<br />
  {% translate "A password reset was requested for your account" %}.
</p>

<p>
  {% translate "To reset the password, please click on the following link" %}:

  <p>
    <a href="{{ reset_link }}" target="_blank" style="display: inline-block; background-color: #4f4cf0; color: #ffffff; text-decoration: none; padding: 10px 20px; border-radius: 5px; font-weight: bold;">{% translate "Confirm Email" %}</a>
  </p>
</p>

<p>
  {% translate "Your password won't change until you create a new password." %}
</p>

<p>* {% translate "If you have received this email in error or you are not the intended recipient, please ignore and delete it." %}</p>

{% endblock %}
