[Unit]
Description="Monitoring Alerts Service"

[Service]
ExecStart=/var/www/monitoring/.venv/bin/python /var/www/monitoring/back/manage.py rqworker alerts
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
TimeoutStartSec=3600
User=www-data
Group=www-data
Restart=on-failure
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target

# cp alerts.service /etc/systemd/system/monitoring-alerts.service && systemctl enable monitoring-alerts
# journalctl -u monitoring-alerts.service -f
