[Unit]
Description="Monitoring SubmitEmail Service"

[Service]
ExecStart=/var/www/monitoring/.venv/bin/python /var/www/monitoring/back/manage.py rqworker submit_email
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
TimeoutStartSec=3600
User=www-data
Group=www-data
Restart=on-failure
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target

# cp emails.service /etc/systemd/system/monitoring-emails.service && systemctl enable monitoring-emails
# journalctl -u monitoring-emails.service -f
