[Unit]
Description="Monitoring Frontend Service"

[Service]
ExecStart=/bin/bash -c 'cd /var/www/monitoring/front && npm run start'
User=www-data
Group=www-data
Restart=on-failure
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target

# cp front.service /etc/systemd/system/monitoring-front.service && systemctl enable monitoring-front
# journalctl -u monitoring-front.service -f
