{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}Buzznodes - Privacy Policy{% endblock %}

{% block description %}
{% translate 'Real-Time Monitoring of Tendermint Network Nodes with IP Telephony Integration.'%}
{% endblock %}

{% block content %}
<section id="a3">
    <center>
        <h2>{% translate 'Privacy Policy' %}</h2>
    </center>
    <br><br>
    <i>Update Date: 01.02.2025</i>
    <br><br>

    <h3>1. Introduction</h3>
    <p>Endorphine Stake ("we", "our", "us"), the team behind [buzznodes.com](http://buzznodes.com/), is committed to
        protecting your privacy. This Privacy Policy explains how we collect, use, disclose, and safeguard your
        information
        when you visit our website and use our services.</p>

    <h3>2. Information Collect</h3>

    <p>
        We may collect the following types of information:

    <ul>
        <li>Personal Information: name, email address, phone number, and other identifying details when you voluntarily
            provide them.</li>
        <li>Usage Data: information about your interactions with our website and services, including IP addresses,
            browser
            types, and device information.</li>
        <li>Cookies and Tracking Technologies: we use cookies and similar technologies to enhance user experience and
            analyze usage trends.</li>
    </ul>
    </p>

    <h3>3. Information Use</h3>

    <p>
        We collect personal data, including phone numbers, for the purpose of enabling communication services. The data
        is
        transmitted to our third-party service providers (such as SIP providers) for making calls or sending SMS
        messages.
        We are not responsible for the processing of data by these providers, and they are fully responsible for
        complying
        with applicable data protection laws, including GDPR, when processing your data.</p>

    <h3>4. GDPR Considerations</h3>

    <p>
        If users from the European Economic Area (EEA) interact with our services, we ensure that personal data is
        transmitted to our third-party service providers, who are responsible for complying with applicable data
        protection
        laws, including GDPR. We ensure that users have the right to:

    <ul>
        <li>Access, correct, or delete their personal data.</li>
        <li>Object to the processing of their data or request data portability.</li>
        <li>Withdraw consent where applicable.</li>
    </ul>
    </p>

    <h3>5. Information Sharing</h3>

    <p>
        We do not sell or rent your personal information. However, we may share data with trusted third-party service
        providers who assist in operations, such as SIP providers, for the purpose of providing our services. These
        providers are contractually obligated to handle your personal data in compliance with applicable data protection
        regulations.</p>

    <h3>6. Information Security</h3>

    <p>
        We implement appropriate security measures to protect your information. However, no method of transmission over
        the
        internet is 100% secure.</p>

    <h3>7. Third-Party Links</h3>

    <p>
        Our website may contain links to third-party sites. We are not responsible for the privacy practices of these
        third-party sites.</p>

    <h3>8. Changes to Privacy Policy</h3>

    <p>
        This Privacy Policy may be updated periodically, we will notify you by updating the date when last updated on
        "Update Date" section.
    </p>

    <h3>9. Contact Us</h3>

    <p>We adhere to data processing principles such as lawfulness, transparency, and data minimization.</p>

    <p>If you have any questions or concerns about this Privacy Policy, you can contact us at
        contact@endorphinestake.com.</p>
</section>
{% endblock %}